# Database Configuration
# Connect to PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# NextAuth Configuration
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="your-secret-here"

# NextAuth URL
# When deploying to production, set the NEXTAUTH_URL environment variable to the canonical URL of your site.
# NEXTAUTH_URL="http://localhost:3000"
